<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <%- include('includes/styles.ejs') %>
</head>
<body>
        <%- include('includes/header.ejs') %>
        
        <%- include('includes/navbar.ejs') %>
        
        <%- include('includes/banner.ejs') %>


        <div class="services">
            <%- include('includes/services.ejs') %>
        </div>

        
        <div class="education">
            <%- include('includes/education.ejs') %>
        </div> 

        <div class="tab-panel">
            <%- include('includes/tabs.ejs') %>
        </div> 
       
        <%- include('includes/video.ejs') %>
        <%- include('includes/subscribe.ejs') %>
        <%- include('includes/footer.ejs') %>
        <%- include('includes/scrollpage.ejs') %>
    <%- include('includes/js.ejs') %>
</body>
</html>