<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <%- include('includes/styles.ejs') %>
</head>
<body>
        <%- include('includes/navbar.ejs') %>
       
        <%- include('includes/scrollpage.ejs') %>

        <%- include('includes/banner.ejs') %>
        <%- include('includes/education-categories.ejs') %>
       
        <div class="services">
            <%- include('includes/services.ejs') %>
        </div>
        
        <div class="student-services">
                <%- include('includes/students-services.ejs') %>
        </div>

        <%- include('includes/footer.ejs') %>

    <%- include('includes/js.ejs') %>
</body>
</html>